/* global css styling */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Ubuntu;
}
body {
  overflow-x: hidden;
}
ul,
ol {
  list-style: none;
  padding: 0px;
  margin: 0;
}
ul li {
  padding: 5px;
}
.book-title {
  font-size: 1.2em;
  font-weight: bold;
}

.ratings {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.ratings li {
  padding: 0px;
  flex: 1;
  background: white;
}
.ratings li:first-child {
  border-right: 1px solid #999;
  padding-right: 20px;
}

.ratings li:last-child {
  padding-left: 20px;
}
.ratings li p {
  padding-bottom: 5px;
}

.checked {
  color: rgb(253, 179, 43);
}
.unchecked {
  color: rgb(211, 208, 201);
}

.sidebar-menu {
  width: 340px;
  padding: 40px;
  background: #ffffff;
  box-shadow: -10px 0px 40px rgba(0, 0, 0, 0.1);
  min-height: 100vh;
  position: fixed;
  top: 90px;
  z-index: 99999999;
  transition: 0.5%;
  overflow: hidden;
}

@media screen and (max-width: 1111px) {
  .sidebar-menu {
    width: 355px;
    z-index: 9999999999999999999;
    top: 0px;
    padding-top: 30px;
    box-shadow: -10px 0px 20px rgba(0, 0, 0, 0.7);
    visibility: hidden;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
  }
}
